.App {
  text-align: center;
}
.nav-container{
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-container{
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 350px;
  gap: 0.5rem;
  align-items: center;
}
button{
  padding: 2px;
  width: 5rem;
  border-radius: 4px;
}
input{
  padding: 3px;
  background-color: whitesmoke;
  border-radius: 6px;
}
button:hover{
  background-color: black;
  color: white;
}